#nav {
  background-color: white;
  padding:10px;
  font-size: 1.5em;
  font-weight: bold;
}

#header {
  background-color: black;
  width: 100%;
  color: pink;
  font-size: 3em;
  height: 35px;
  padding-top: 10px;
  padding-left: 10px;
}

#main {
  background-color: white;
  padding: 10px;
}

h1 {
  text-align: center;
}
