* {
  font-family: Helvetica;
  color: white;
  font-weight: bold;
  text-align: center;
}

body {
  background-image:  url(mainHeader.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  background-attachment: scroll;
  width: 50%;
  position: fixed;
  left: 23%;
}

h1 {
  font-size: 35px;
  opacity: 1;
}

p {
  font-size: 15px;
  opacity: 1;
}

.whiteBox {
  background-color: rgba(250, 250, 250, .5);
  padding: 15px;
  padding-bottom: 700px;
  padding-top: 60px;
}

.whiteText {
  opacity: 1;
}
