.whiteBox {
  background-color: rgba(250, 250, 250, .5);
  padding: 15px;
  padding-bottom: 100%;
}

.whiteText {
  opacity: 1;
  font-family: Helvetica;
  color: white;
  font-weight: bold;
  text-align: center;
}

#heart {
  text-align: center;
}

#hearts {
  font-size: 1.5em;
}

#splash {
  background-image:  url(../gifs/mainHeader.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  background-attachment: fixed;
  width: 50%;
  margin-left: 23%;
  margin-right: auto;
}

h1 {
  font-size: 35px;
  opacity: 1;
}

p {
  font-size: 15px;
  opacity: 1;
}

h1 {
  text-align: center;
}
